@import 'tailwindcss';

@theme {
	--color-darkbg: #161616;
	--color-dark-base-100: #262626;
}

@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark;
}

@utility card {
	@apply bg-dark-base-100;
}
