@import 'tailwindcss';

@theme {
	--color-qetra-dark: #070707;
	--color-dark-base-100: #262626;
	--color-card-dark: #18181d;
}

@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark;
}
